{% extends 'base.html.twig' %}

{% block title %}Liste de Concert{% endblock %}

{% block body %}
    <h1>Liste des concerts</h1>
    {% for show in shows %}
        <p>{{ show.artist }} présente le {{ show.name }}</p>
        <p>{{ show.comment }}</p>
        <p>Rating {{ show.rate }}</p>
        <p>{{ show.date|date('d/m/Y') }}</p>
        <p>{{ show.venu }} - {{ show.city }}</p>
        <p>Genre : {{ show.style }}</p>
    {% endfor %}
{% endblock %}
