{% extends 'base.html.twig' %}

{% block title %}Liste de Concert{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="offset-1 col-7 mt-5">
                <h1 class="text-center">  🎷🎸🎧 Liste des concerts  🎧 🎸🎷</h1>
                {% for show in shows %}
                    <div class="card offset-2 col-8 text-white bg-dark mt-3  mb-2">
                        <div class="card-header text-center">
                            <h3 class="">{{ show.artist }} présente le {{ show.name }}</h3>
                            <p>{{ show.date|date('d/m/Y') }} <br>
                                {{ show.venu }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p>{{ show.comment }}</p>
                            <div class="mt-5">
                                <div>Note : {{ show.rate }} ⭐</div>
                                <div>Style : {{ show.style }}</div>
                                <div>Lieu : {{ show.city }}</div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="offset-1 col-10">
                                <a href="{{ path("editShow", {id: show.id}) }}" class="btn btn-block btn-secondary">Modifier</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="col-2 offset-1 mt-5">
                <div class="col-12">
                    <h4 class="text-center">Concerts par Genre</h4>
                    {% for style in styles %}
                        <a href="{{ path("byStyle", {id: style.id}) }}" class="badge badge-pill badge-primary">{{ style.name }}</a>
                    {% endfor %}
                </div>
                <div class="col-12 mt-5">
                    <hr>
                    <h4 class="text-center">Concerts par Ville</h4>
                    {% for city in cities %}
                        <a href="{{ path("byCity", {id: city.id}) }}" class="badge  badge-pill badge-success">{{ city.name }}</a>
                    {% endfor %}
                </div>
                <div class="col-12 mt-5">
                    <hr>
                    <h4 class="text-center">Concerts par Artiste ou Groupe</h4>
                    {% for artist in artists %}
                        <a href="{{ path("byArtist", {id: artist.id}) }}" class="badge  badge-pill badge-danger">{{ artist.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        </div>
{% endblock %}
